<!doctype html>
<title>Hello from Oven-Bot</title>
<body>
	<p>This is oven-bot! He is equipped to preheat the oven, set a timer, and turn the oven light on and off. Give him a few tasks like these: </p>
	<ul>
		<li>"Set the oven to 300 degrees"</li>
		<li>"Turn off the oven"</li>
		<li>"Turn the oven light on"</li>
		<li>"Turn off the oven light"</li>
		<li>"Set timer for 10 minutes"</li>
	</ul>
	<p>You can watch as oven-bot changes the state of the oven after each command with this link pulled up in a side window: <a href="https://oven-bot-bueno.herokuapp.com/">here.</a></p>
	<div id="chatbot">
		<iframe
		    allow="microphone;"
		    width="350"
		    height="430"
		    src="https://console.dialogflow.com/api-client/demo/embedded/5bac2c68-39c7-4add-a49a-d7cfdc429ebf">
		</iframe>  
	</div>
</body>